

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 44px;
    line-height: 1;
    opacity: 100;
    color: #1f1e1e;
  }
  .custom-arrow{
    display: none;
  }
  .slick-arrow{
    background-color: white;
  }